# Archivos temporales de Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Notebooks de Jupyter
.ipynb_checkpoints/
*.ipynb

# Archivos de entorno virtual
venv/
ENV/
env/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de datos grandes
*.csv

# Archivos de log
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo
